<%= window_game %>

<%- include('./window_head', {window_head: '',window_type:window_type}) %>  

<%- include('./window_aside_bottom', {window_a_b: ''}) %> 
<section class="window_content">
    
        
   


</section>