<%= window_head %>
<header class="window_header">
    <div class="blue_bar">
        <span>Personal</span>
        <ul>
            <li title="Min">__</li>
            <!-- <li title="Max"></li> -->
            <li title="exit"><a href="/">✕</a></li>
        </ul>
    </div>
    <menu type="toolbar">
        <span>File</span>
        <span>Edit</span>
        <span>View</span>
        <span>Favorite</span>
        <span>Tools</span>
        <span>Help</span>
    </menu>

    <menu type="context">
        <span><button>icon</button> <p>back</p></span>
        <span><button>icon svg</button></span>
        <span><button>home</button></span>
        <span><input type="search" name="explore" id="explore"></span>
        <span><button>sort</button></span>       
    </menu>

</header>
