<aside class="file_explorer"> 
    <ul>
        <p>some file</p>
        <li>icon<img src="/" alt=""><span>file</span></li>
        <li>icon<img src="/" alt=""><span>file</span></li>
        <li>icon<img src="/" alt=""><span>file</span></li>
        
    </ul>
    <ul>
        <p>more file</p>
        <li>icon<img src="/" alt=""><span>file</span></li>
        <li>icon<img src="/" alt=""><span>file</span></li>
        <li>icon<img src="/" alt=""><span>file</span></li>
        <li>icon<img src="/" alt=""><span>file</span></li>
        
    </ul>
    
</aside>

