* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  list-style: none;
  text-decoration: none;
  scrollbar-gutter: stable both-edges;

  &li{
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
  }
}
html {
  scroll-snap-type:y mandatory ;
  width: 100dvi;
}

:root{
  --x:40cqi;
  --y:60cqh;

  /* blue */
  --primary-bl: #0062ff;
  --secondary-bl: #106cd5;
  /* green */
  --primary-gr: #0a990f;
  --secondary-gr: #106cd5;
  /* beige */
  --primary-be: #d8cda2;
  --secondary-be: #106cd5;
  /* yellow-orange */
  --primary-y-o: #ffd000;
  --secondary-y-o: #106cd5;
  /* red */
  --primary-re: #ff0000;
  --secondary-re: #106cd5;
  /* white and black */
  --base-w: #ffffff;
  --base-b : #000000;
  
}

body {
  outline: solid ; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100dvh;
  container-type: inline-size;
}

.screen{
  
  position: absolute;
  inset: 15cqi 30cqi;
  
  background-image: url(/images/uGRFZEs.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 1px 1px rgba(106, 145, 216, 0.751);
  /* background-color: antiquewhite; */
}

body .screen:has(:hover,:focus) {

  &.screen{
    inset: 6cqi;
    background-color: aquamarine;
  }

  .taskbar{
    height: 5cqh;
  }

  #window_card{
    inset: unset;
    top: 3rem;
    right: 3rem;
    
  }
}

.desktop{
  position: relative;
  width: 100%;
  height: 100%;
}

.desktop_items{
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: auto;
  padding: 2%;
  gap: 2cqi;
  /* outline: solid; */
}

.desktop_items li{
  /* grid-column:cnt ; */
}

.trash_can{
  position: absolute;
  right: 1.5cqi;
  bottom: 10%;
}

#window_card{
  position: absolute;
  /* top: calc(var(--y, 0) * .98px);
  left: calc(var(--x, 0) * 1px); */
 
  background-color: aliceblue;
  inset: 5cqi;
  contain: content;
}

.taskbar{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  container-type: size ;

  > nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
  }

  .start{
    --v-s: 1.5cqi;
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-inline: .3cqi;
    border-radius: 0px .8pc .8pc 0px;
    border: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: green;
    
    
    z-index: 3;
    
    img,p{
      font-size: clamp(1rem,2cqi,2rem);
      font-size: 1.5cqw ;
      width: 1.8cqi;
      margin-block: auto ;
    }
  }
  nav .bar{
    position: relative;
    width: 2rem;
    height: 100%;
    flex-grow: 1;
    background-color: blue;

  }
  .extra_icons{
    background-color: rgb(0, 83, 128);
    flex-basis: 4cqw;
    height: 100%;
    display: grid;
    place-content:center ;

    ul{
      display: flex;
      flex-direction: row;
      

      
      li{
        flex-grow: 1;
        height: 100%;
        padding-inline: .5rem;
        /* outline: solid; */
      }
    }
  }


}

