* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Tahoma', Geneva, Verdana, sans-serif;

  &li{
    /* font-family: 'Tahoma', Geneva, Verdana, sans-serif; */
  }

  
}

 /* body {
  background-color: yellow;
 } */


html {
  scroll-snap-type:y mandatory ;
}


:root{
  /* custom positioning  */
  --x:40cqi;
  --y:60cqh;

  /* global curve */
  --g-c: 7px;
  /* globar radius */
  --g-r: var(--g-c) var(--g-c) 0px 0px;

  /* blue */
  --primary-bl: #235cda;
  --secondary-bl: #4158d4;
  --tertiary-bl: #118fe8;
  --quaternary-bl: #7389fe;
  /* green */
  --primary-gr: #217821;
  --secondary-gr: #2b9e2b;
  /* beige */
  --primary-be: #ede9d3;
  /* yellow-orange */
  --primary-y-o: #f9be00;
  /* red */
  --primary-re: #ff4f00;
  /* white and black */
  --base-w: #ffffff;
  --base-b : #000000;
  
}


body {
  /* outline: solid green ;  */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100dvh;
  /* container-type: inline-size; */
  scrollbar-gutter: stable both-edges;

  backdrop-filter: blur(100px) brightness(10) opacity(4);
  transition: 6s ease-in-out 3s;

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &:has(.screen:hover,:focus){
    background-image: url(/images/Bliss_Wallpaper_Animated.webm);
    /* background-image: url(/images/uGRFZEs.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(100px) brightness(1) opacity(4);
    transition: 7s ease-in-out 4s;
    transition-delay: 6s;
    /* transition-property: brightness; */
    
  }
}


.screen{
  
  transition: 1s ease-in-out 1s;
  position: absolute;
  inset: 15cqi 30cqi;
  /* inset: 6cqi; */
  
  background-image: url(/images/uGRFZEs.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 1px 1px rgba(106, 145, 216, 0.751);

  container-type:inline-size ;
  contain: content;
}


body .screen:has(:hover,:focus) {

  &.screen{
    inset: 6cqi;
    border-radius: 7px;
    /* background-color: aquamarine; */
    transition: 1s ease-in-out 1s;
  }

  .taskbar{
    height: 5cqh;
    transition: 1s ease-in-out 1s;
  }

  #start_menu{
    margin-bottom: 4.9cqh;
    height: 60cqh;
    width: 28cqw;
  }

  .window_card{
   width: 50cqi;
    top: 3rem;
    right: 3rem;
    
  }
}


/* desktop elements */

.desktop{
  position: relative;
  width: 100%;
  height: 100%;
}

.desktop_items{
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: auto;
  padding: 2%;
  gap: 2cqi;
  /* outline: solid; */
}

.desktop_items li{
  aspect-ratio: 1/1;
  padding-top: 2%;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  scale: 1;

  &:is(:nth-last-of-type(1),:nth-of-type(2)) img{scale: .8;}

  &:hover{
    filter: brightness(1.05);
  }

  :focus{
    background-color: #235ddab8;
  }
}

.trash_can{
  position: absolute;
  right: 1.5cqi;
  bottom: 10%;
  aspect-ratio: 1/1;
  padding: 1%;
  width: min-content;
  display: grid;
  place-content: center;

  &:hover{
    filter: brightness(1.05);
  }

  :focus{
    background-color: #235ddab8;
  }
}



/* windows style */
[popover]{
  position: unset;
  height: unset;
  width: unset;
  overflow: unset;
  color: none;
  inset: unset;
}

/* important for window opening and closing */
[popover]:not(:popover-open):not(dialog[open]) {
  display: none;
}

.window_card{
  position: absolute;
  /* top: calc(var(--y, 0) * .98px);
  left: calc(var(--x, 0) * 1px); */
  
  background-color: aliceblue;
  border: 3px solid var(--primary-bl);
  border-radius: var(--g-r) ;
 
  right: 5rem;
  container-type:inline-size ;
  contain: content;

  width: 50cqi;
  top: 3rem;
  right: 3rem;

  display: grid;
  grid-template-areas:  "a a a a"
                        "b c c c"
                        "b c c c";

  padding:0;
  margin: 0;

  &::backdrop{
    /* display: none; */
    /* background-color: #000; */
    pointer-events: none;
  }

}




/* window header  */
.window_header{
  grid-area: a;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-be);



  .blue_bar{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-bl);
    background-image: linear-gradient(
      0deg,
    hsl(221deg 72% 50%) 37%,
    hsl(222deg 70% 40%) 87%,
    hsl(221deg 69% 49%) 98%,
    hsl(221deg 70% 75%) 100%
    ); 
    color: var(--base-w);

    span{
      flex-grow: 1;
    }

    ul{
      flex-basis: min-content;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: 1fr;
      gap: .2cqi;
      margin-bottom: .1rem;
     
    }

    li{
      border: 1px solid var(--base-w);
      border-radius: calc(var(--g-c) - 3px);
      color: var(--base-w);
      height: 100%;
      width: 1.5rem;
      display: grid;
      padding: auto;
      
      aspect-ratio: 1/1;

      &:nth-of-type(1){
        background-color: var(--primary-bl);
        place-content: end space-between;
        cursor: not-allowed;
        padding-inline: .1cqi;
      }
      &.exit_b{
        background-color: var(--primary-re);
        place-content: center;
        .exit{color: var(--base-w);}
      }

      &:hover{
        filter: brightness(1.15);
      }
    }
  }

  menu[type=toolbar]{
    display: flex;
    justify-content: start;
    padding-inline: 3%;
    padding-block: 1%;
    gap: 5%;
    cursor:not-allowed;
  }
  menu[type=context]{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    cursor:not-allowed;
    padding-block: 1%;

    span{
      display: flex;
    }
    span:has(input[type=search]){
      flex-grow: .5;
      

      input{
        width: 100%;
        border-radius: 7px;
      }
    }
  }

}

/* window side-bar */
.file_explorer{
  grid-area: b;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: 1fr;
  padding-inline: 1rem;
  padding-block: 10%;
  background-color: var(--quaternary-bl);
  row-gap:1rem ;

  ul{
    border: 2px solid var(--base-w);
    border-radius: var(--g-r);
    display: flex;
    flex-direction: column;
    /* gap: 5%; */
    background-color: var(--quaternary-bl);
    background: linear-gradient(90deg, rgba(255,255,255,0.6951155462184874) 0%, rgba(255,255,255,0.2777485994397759) 33%, rgba(255,255,255,0.3113620448179272) 69%, rgba(255,255,255,0.7203256302521008) 100%);    height: 100%;
    
    
  }

  p{
    background: linear-gradient(38deg, rgba(255,255,255,1) 47%, rgba(255,255,255,0) 100%);    color: var(--primary-bl);
    border-radius: calc(var(--g-r) - 2px);
    padding-inline: 3%;
    color: var(--primary-bl);
    
  }

  li{
    color: var(--primary-bl);
    padding-inline: 3%;
    padding-block: 2%;
    display: flex;
    flex-direction: row;

    img{
      width: 3cqi;
      aspect-ratio: 1/1;
      scale: .9;
    }
    span{
      flex-grow: 1;
      padding-inline-start: 15%;
    }
  }

}

/* layout window content */
.window_content {
  grid-area: c;
  width: 100%;
  overflow-y: scroll;
  padding-top: 2%;
}

/* user information */
#personal {
  position:absolute;
  inset: 8cqi;
  width: 50cqi;
  aspect-ratio: 16/9;


  .window_content{
    display: grid;
    grid-template-columns: [cnt1-start]1fr[cnt1-end cnt2-start]1fr[cnt2-end];
    scrollbar-gutter: stable;
    padding-top: 0%;
  }


  .profile{
    grid-column: cnt1;
    place-content: start;
    display: flex;
    flex-direction: column;
    width: 30cqw;
    /* border-right: 1px solid var(--primary-re); */
    box-shadow: .05px 0px 8px 1px #ff510078;
    
    background-color:#8a9bfbb5;
    container-type:inline-size ;

  
    div:has(img){
      width: 100%;
      display: flex;
      justify-content: center;
      height: 30%;
      margin-block: 10%;
      container-type:inline-size ;

      /* mid line */
      &::after{
        content: '';
        width: 80%;
        height: 1px;
        background-color:var(--base-b) ;
        position: absolute;
        bottom: -10%;

      }
    }

    img{
      aspect-ratio: 1 / 1;
      width: minmax(70%,min-content);
    }

    h2,h3{
      text-align: start ;
      font-size: 100%;
      word-wrap:normal;
      margin-top: 20%;
      padding-inline: 10%;
    }

  }

  .info{
    grid-column: cnt2;
    display: flex;
    flex-direction: column;
    place-content: center;
    
    >ul{
      display: flex;
      flex-direction: column;
      gap: 9%;
      height: 90%;
    }

    li{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      
    }

    li::before{
      content: 'â­';
      width: 2rem;
      height: auto;
      position: absolute;
      translate: -2rem;
    }

    legend{
      margin-bottom: 3%;
    }
    
  }
  
}

/* school window */
#sprint {

  height: 70cqh;
  .window_content{
    padding: 0;
    margin: 0;
    grid-area: c;
    width: 100cqi;
    overflow: hidden;
    height: 70cqh;
  }

  #FDND{
    width: 100%;
    height: 100%;
  }
}

/* music window */
#music{
  height: 70cqh;

  .window_header{ 
    height: 1cqh;
    menu[type=context]{display: none;}
    menu[type=toolbar]{display: none;}
  }
  .window_content{
    padding: 0;
    padding-top: 25px;
    margin: 0;
    grid-area: 1/1/-1/-1;
    width: 100cqi;
    overflow: hidden;
    
  }

  #spotify{
    width: 100%;
    height: 100%;
    background-color: #003858;
  }
}

/* taskbar elements */
.taskbar{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3cqh;
  container-type: size ;

  > nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
  }

  .start{
    --v-s: 1.5cqi;

    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-inline: .5cqi;
    gap: .3cqi;
    border-radius: 0px .8pc .8pc 0px;
    border: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-gr);
    background-image: linear-gradient(
    0deg,
    hsl(120deg 57% 39%) 0%,
    hsl(120deg 35% 55%) 45%,
    hsl(120deg 43% 50%) 79%,
    hsl(120deg 51% 48%) 92%,
    hsl(120deg 33% 74%) 100%
    );
    color: var(--base-w);
    z-index: 3;

    &:hover,:focus{
      filter: brightness(1.12);
    }
    &:has(:active) p,img{
      filter: brightness(0.98);
      scale: 0.98;
    }
    
    img,p{
      font-size: clamp(1rem,2cqi,2rem);
      font-size: 1.5cqw ;
      width: 1.8cqi;
      margin-block: auto ;
      filter: drop-shadow(0px 1px 2px var(--base-b));
    }
  }
  nav .bar{
    position: relative;
    width: 2rem;
    height: 100%;
    flex-grow: 1;
    background-color: var(--primary-bl);
    background-image: linear-gradient(
      0deg,
    hsl(221deg 72% 50%) 37%,
    hsl(222deg 70% 40%) 87%,
    hsl(221deg 69% 49%) 98%,
    hsl(221deg 70% 75%) 100%
    ); 
  }
  .extra_icons{
    background-color: var(--tertiary-bl);
    background-image: linear-gradient(
    0deg,
    hsl(205deg 79% 44%) 0%,
    hsl(205deg 73% 51%) 4%,
    hsl(205deg 80% 51%) 64%,
    hsl(205deg 76% 54%) 90%,
    hsl(205deg 49% 68%) 100%
    );
    flex-basis: 4cqw;
    height: 100%;
    display: grid;
    place-content:center ;

    ul{
      display: flex;
      flex-direction: row;
      

      
      li{
        flex-grow: 1;
        height: 100%;
        padding-inline: .5rem;
        span{color: var(--base-w);}
      }
    }
  }


}

#start_menu{

  transition: 1s ease-in-out 1s;
  position:relative;
  bottom: 0;
  
  margin-bottom: 3cqh;
  border: 3px solid ;
  
  height: 30cqh;
  width: 28cqw;
}


